@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 16% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 227 24% 12%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 7% 84;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 232 5% 65%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 220 84% 51%;
    --destructive: 0 61% 55%;
    --destructive-foreground: 0 0% 98%;
    --success: 151 73% 41%;
    --info: 220 80% 31%;
    --border: 240 5.9% 90%;
    --input: 231 5% 75%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --z-index-top: 9999;
  }
  @import "./styles/features/GlobalHeader/_base.css";
}

@layer base {
  * {
    @apply border-border font-sans;
    letter-spacing: calc(1rem * -0.01);
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    letter-spacing: calc(1rem * 0.02);
    @apply scale-y-[1.01]
  }
}

@layer components {
  @import "./styles/components/atoms/AnOverlay/_component.css";
  @import "./styles/components/atoms/AStoryStatus/_component.css";
  @import "./styles/components/atoms/AThumbnail/_component.css";
  @import "./styles/features/GlobalHeader/_components.css";
  @import "./styles/features/Sidebar/_components.css";
}
